{% extends 'base.html' %}
{% block conteudo %}

<div class="container my-5">

    <div class="row">
        <div class="col-lg-9 col-md-12">

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for slide in slides %}
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{loop.index0}}"
                            {% if loop.index0== 0 %}class="active" {% endif %} aria-current="true"
                            aria-label="Slide 1"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for slide in slides %}
                    <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                        <img src="{{url('uploads/imagens/thumbs/'~slide.capa)}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{slide.titulo}}</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="row">
                {% for post in posts %}
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <a href="{{url('post/'~post.slug)}}" tooltip="tooltip" title="{{post.titulo}}">
                                {% if post.capa %}
                                <img src="{{url('uploads/imagens/thumbs/'~post.capa)}}" alt="{{post.titulo}}"
                                     title="{{post.titulo}}" class="capaGrande"/>
                                {% endif %}

                                <h4 class="card-title">{{post.titulo}}</h4>

                                <div class="d-flex justify-content-between my-3 text-muted">
                                    <small>{{post.categoria.titulo |upper}}</small>
                                    <small>{{ contarTempo(post.cadastrado_em) }}</small>
                                </div>

                                <p class="card-text">{{resumirTexto(post.texto, 150)}}</p>
                            </a>
                            {% if usuario().level == 3 %}
                            <div class="card-footer border-0 bg-transparent text-secondary text-end">
                                <a href="{{ url('admin/posts/editar/'~post.id) }}" tooltip="tooltip" title="Editar">
                                    <i class="fa-solid fa-pen m-1"></i>
                                </a>
                                <a href="{{ url('admin/posts/deletar/'~post.id) }}" tooltip="tooltip" title="Deletar">
                                    <i class="fa-solid fa-trash m-1"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {%endfor %}
            </div>

        </div>

    </div>

</div>

{% endblock %}