{% extends 'base.html' %}
{% block conteudo %}

<div class="container my-5">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <h1>{{post.titulo}}</h1>

            <div class="my-3">
                <small class="text-muted">Por {{post.usuario.nome}}, {{ post.cadastrado_em|date("d/m/y") }} em {{post.categoria.title}}</small>
            </div>

            <div class="texto">
                <p>{{post.texto}}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}